<Configuration status="warn">

	<Properties name="log_folder">d:/loinc_toolkit/logs</Properties>


	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%c %d{yyyy-mm-dd HH:mm:ss} %-5p: %m%n" />
		</Console>

		<File name="loinc_lib" fileName="loinc_lib.log">
			<PatternLayout pattern="${log_folder}/%c %d{yyyy-mm-dd HH:mm:ss} %-5p: %m%n" />
		</File>
	</Appenders>

	<Loggers>

		<Logger level="trace" name="in.cdac.medinfo.loinc.PropertyReader">
			<AppenderRef ref="loinc_lib"/>
		</Logger>

		<Root level="error">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>

</Configuration>
